{% import 'web/macro/menu.twig' as m %}
{% if app.user %}
{% set py = 'py-0' %}
{% else %}
{% set py = '' %}
{% endif %}
<nav class="navbar glass sticky top-0 z-40">
    <div class="container mx-auto flex flex-row justify-between">

        <div class="flex flex-row md:hidden">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    {% for item in menu %}
                    {{ m.menuitem(item) }}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="flex flex-row">
            <a class="btn btn-ghost text-xl" href="{{ path('home') }}">{{ brand }}</a>
            {% apply spaceless %}
            <ul class="menu menu-horizontal px-1 hidden md:flex whitespace-nowrap">
            {% for item in menu %}
            {{ m.menuitem(item) }}
            {% endfor %}
            </ul>
            {% endapply %}
        </div>


        <div class="flex flex-row">
            {{ app.cmp('control', {'sm': true})|raw }}
            <ul class="menu menu-horizontal px-1 hidden md:flex py-0">
                {{ app.cmp('control')|raw }}
                {{ app.cmp('themes')|raw }}
            </ul>
        </div>
    </div>
</nav>
