{% import 'web/macro/formmacro.twig' as m %}
<form id="{{ form.id }}" method="post" action="{{ form.action }}" accept-charset="UTF-8" enctype="multipart/form-data">
    {{ csrf()|raw }}
    {{ m.input(password) }}
    {{ m.input(confirm) }}
    <div class="form-control mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
