{% macro menuitem(item) %}
{% if item.sub is defined %}
    <li>
        <details>
        {% if app.request.is_active(item.href, false) %}
        <summary class="active">
        {% else %}
        <summary>
        {% endif %}
            {{ item.title|raw }}
        </summary>
        <ul class="p-2">
        {% for subitem in item.sub %}
            {{ _self.menuitem(subitem) }}
        {% endfor %}
        </ul>
        </details>
    </li>
{% else %}
    {{ _self.item(item) }}
{% endif %}
{% endmacro %}

{% macro item(item) %}
{% if app.request.is_active(item.href) %}
{% set class = ' class="whitespace-nowrap active"' %}
{% else %}
{% set class = ' class="whitespace-nowrap"' %}
{% endif %}
{% if item.border is defined and item.border == true %}
{% set divider = ' class="border-t mt-1 pt-1"' %}
{% else %}
{% set divider = '' %}
{% endif %}
<li{{ divider|raw }}><a{{ class|raw }} href="{{ item.href }}">{{ __(item.title) }}</a></li>
{% endmacro %}
